.navbar__component {
	width: 100vw;
	height: 60px;
	background-color: #131a22;
	display: flex;
}

.navbar__logo {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -9px -50px;
	width: 98px;
	height: 31px;
	margin: 18px;
}

.navbar__locator {
	display: flex;
	margin: 20px 0px;
}

.navbar__location {
	color: white;
	font-weight: bold;
	margin-left: 5px;
}

.navbar__locatorImg {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -70px -305px;
	width: 19px;
	height: 22px;
}

.navbar__searchComponent {
	display: flex;
}

.navbar__searchBox {
	width: 287px;
	height: 39px;
	margin-top: 8px;
}

.navbar__searchIcon {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -9px -289px;
	width: 23px;
	height: 23px;
	margin: 13px; /*Centre icon*/
}

.navbar__searchIconBox {
	background-color: #febe68;
	height: 44px;
	width: 48px;
	border-radius: 0 5px 5px 0;
	margin-top: 9px;
}

select {
	width: 211px;
	height: 45px;
	margin-top: 8px;
	background-color: #e6e5e5;
	border-radius: 5px 0 0 5px;
	text-align-last: center;
}
