.navbar__component {
	width: 100vw;
	height: 60px;
	background-color: #131a22;
	display: flex;
}

/* *****LOGO***** */
.navbar__logoComponent {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 1px 8px 0 6px;
}

.navbar__logo {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -9px -50px;
	width: 98px;
	height: 31px;
	margin: 18px 0 18px;
}

.navbar__country {
	color: white;
	font-weight: 600;
	margin: 6px 0 18px;
}

/* *****LOCATION***** */
.navbar__locator {
	display: flex;
	align-items: center;
	margin: 20px 0px;
	padding: 0 9px;
}

.navbar__location {
	color: white;
	margin: 0 2px 5px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding-left: 2px;
}

.navbar__locatorImg {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -70px -305px;
	width: 19px;
	height: 22px;
	margin-top: 8px;
	padding-right: 2px;
}

/* *****SEARCH BAR***** */
.navbar__searchComponent {
	display: flex;
	flex: 1;
}

.navbar__searchBox {
	width: 287px;
	height: 39px;
	margin-top: 8px;
}

.navbar__searchIcon {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -9px -289px;
	width: 23px;
	height: 23px;
	margin: 13px; /*Centre icon*/
}

select {
	width: 211px;
	height: 45px;
	margin-top: 8px;
	background-color: #e6e5e5;
	border-radius: 5px 0 0 5px;
	text-align-last: center;
}

.navbar__searchIconBox {
	background-color: #febe68;
	height: 44px;
	width: 48px;
	border-radius: 0 5px 5px 0;
	margin-top: 9px;
}

/* *****NAV OPTIONS & CART***** */
.navbar__options {
	color: white;
	display: flex;
	justify-content: flex-start;
	text-align: center;
}

.navbar__itemsOption {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 0 2px 5px 0;
}

.navbar__signInOption {
}
.cart__itemCount {
	color: #f08804;
	font-weight: 700;
	font-style: 16px;
}

.navbar__cartIcon {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -217px -336px;
	width: 43px;
	height: 30px;
}

.navbar__cartOption {
	display: flex;
	align-items: center;
}

.navbar__optionLineOne {
	font-style: 12px;
	font-weight: 200;
}

.navbar__optionLineTwo {
	font-style: 14px;
	font-weight: 700;
	line-height: 15px;
}
