.header {
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #131921;
	/* position: sticky; */
	top: 0;
	z-index: 100;
}

.header__optionLineOne {
	font-size: 12px;
	color: white;
}

.header__optionLineTwo {
	font-size: 14px;
	font-weight: 700;
	color: white;
}

.header__amazon {
	display: flex;
	align-items: center;
	margin: 0px 20px;
}

.header__logo {
	width: 100px;
	object-fit: contain; /*Keep ratio*/
	margin-top: 18px;
}

.header__country {
	font-size: 14px;
	color: white;
	padding-top: 5px;
}

.header__localisation {
	display: flex;
	align-items: center;
	margin-right: 5px;
}

.header__locator {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -70px -305px;
	width: 19px;
	height: 22px;
	margin-top: 10px;
}

.header__optionsLocator {
	color: white;
	display: flex;
	flex-direction: column;
	margin-left: 4px;
}

.header__optionsLocator > header__optionLineOne {
	font-weight: 200;
}

.header__search {
	display: flex;
	flex: 1;
}

#searchDropdownBox {
	background-color: #f3f3f3;
	text-align: center;
	height: 35px;
	width: 100%;
	border-radius: 5px 0 0px 5px;
	color: #785555;
	line-height: 35px;
}

.header__inputSearch {
	width: 434px;
}

.header__searchIcon {
	padding: 5px;
	height: 45px;
	background-color: #febd69;
	border-radius: 0 5px 5px 0;
}

.header__nav {
	display: flex;
	justify-content: space-evenly;
}

.header__options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 5px;
	margin-right: 5px;
}

.header__optionsBasket {
	display: flex;
	align-items: center;
	margin: 0px 11px 0px 2px;
}

.header__optionsBasket > header__optionLineOne {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 43px;
	height: 20px;
}

.header__optionsBasket > header__optionLineTwo {
	display: flex;
	align-items: flex-end;
}

.header__basketCount {
	position: relative;
	left: 20px;
	top: 15px;
	right: auto;
	font-weight: 700;
	font-size: 16px;
	color: #f08805;
}

.basket__icon {
	background: url('https://ik.imagekit.io/amazon9876/amazon-image/amazon-image/sprite_350x_ZbMRQcQKu.png?ik-sdk-version=javascript-1.4.3&updatedAt=1664275312426')
		no-repeat -217px -336px;
	width: 43px;
	height: 30px;
}
